@use './colors';

%common-border {
    border-radius: 16px;
}

%common-border-button {
   border: 3px solid colors.$primary-main;
   border-radius: 16px;
}

%common-center {
    display: grid;
    place-items: center;
}

%common-shadow{
   box-shadow: 0px 0px 20px rgba(255, 197, 0, 0.5);
}

%common-shadow-onhover{
   box-shadow: 0px 0px 30px rgba(255, 197, 0, 0.7);
}

%background-image{
   background-image: url('../static/assets/ui/QuizBackground1.jpg');
}


