.answer-button {
    border: 1px solid white;
    width: 100px;
    height: 100px;
}

.answer-button-hovered {
    border: 1px solid purple;
}

.answer-button-correct {
    border: 1px solid black;
    background-color: green;
}

.answer-button-wrong {
    border: 1px solid black;
    background-color: red;
}

.answer-button-selected {
    border: 1px solid blue;
}
