@use './colors';
@use './common';
@use './typography';
.answer-button {
    @extend %typography-body;
    color: colors.$primary-text;
    width: 100%;
    background-color: colors.$primary-background;
    @extend %common-border-button;
    @extend %common-shadow;
    text-align: center;
}

.answer-button:hover {
    @extend %common-shadow-onhover;
}

.answer-button-correct {
    border: 3px solid colors.$secondary-green;
    box-shadow: 0px 0px 20px colors.$secondary-green;
}

.answer-button-correct:hover {
    box-shadow: 0px 0px 20px colors.$secondary-green;
}

.answer-button-wrong {
    border: 3px solid colors.$secondary-red;
    box-shadow: 0px 0px 20px colors.$secondary-red;
}

.answer-button-wrong:hover {
    box-shadow: 0px 0px 20px colors.$secondary-red;
}

.answer-button-selected {
    border: 3px solid colors.$secondary-blue;
    box-shadow: 0px 0px 20px colors.$secondary-blue;
}

.answer-button-selected:hover {
    border: 3px solid colors.$secondary-blue;
    box-shadow: 0px 0px 20px colors.$secondary-blue;
}
