@use './colors';
@use './common';
@use './typography';
.answer-button {
    font-family: typograpghy.$family-el;
    color: colors.$primary-text;
    background-color: colors.$primary-background;
    border: 3px solid colors.$primary-main;
}

.answer-button:hover {
    background-color: colors.$primary-main;
}

.answer-button-correct {
    border: 3px solid colors.$secondary-green;
}

.answer-button-correct:hover {
    background-color: colors.$primary-background;
}

.answer-button-wrong {
    border: 3px solid colors.$secondary-red;
}

.answer-button-wrong:hover {
    background-color: colors.$primary-background;
}

.answer-button-selected {
    border: 3px solid colors.$secondary-blue;
}
