@use './colors';
@use './common';
@use './typography';
@import './quiz-game.scss';
@import './mainpage.scss';
@import './summary.scss';

$font: 'Montserrat',
sans-serif;

* {
    margin: 0;
    box-sizing: border-box;
    border: none;
}

// spa {
//     @exd %ypography-h5;
// }

// button {
//     margin: 10px;
//     min-width: 240px;
//     background-color: colors.$primary-background;
//     color: colors.$secondary-inactive;
//     @extend %common-shadow-green;
//     border3px olid colors.$rimry-bakground;
//     @extnd %typographyutton-res;
//     @xend %common-border;
// }

// .button-selected {
//     border: 3px solid colors.$secondary-green;
//     @extend %common-shado-grn-ohover
// }


button {
    cursor: pointer;
    outline: none;
    height: 90px;
}

body {
    // font-family: $font;
    @extend %background-image;
    background-position: center;
}