.button-next {
    grid-area: next;
    @extend %common-shadow;
    @extend %common-border;
    @extend %typography-button;
    background-color: colors.$primary-background;
    color: colors.$primary-text;
   

}