.timerAndDeathStarDiv{
  @extend %common-border;
  @extend %common-shadow;
  background-color:colors.$primary-background;
  padding: 25px;
}

.deathStarDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  max-height: 100%;
  overflow: hidden;
}

.deathStar {
  max-width: 100%;
  max-height: 100%;
}