body {
    background-color: black;
}

.display-question-wrapper {
    background-color: black;
    box-shadow: 0px 0 10px rgba(255, 255, 0.3);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 1rem 25%;
}

.display-question-text {
    font-size: 2rem;
    color: white;
}