.display-question-wrapper {
    background-color: black;
    @extend %common-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %common-shadow;
    @extend %common-border;
    padding: 20px;
}

.display-question-text {
    color: colors.$primary-text;
    @extend %typography-h5;
}