@use './typography';
@use './colors';


.gameOverDiv{
    display: grid;
    width: 100%;
    @extend %typography-h5;
    background-color: colors.$primary-background;
    color: colors.$primary-main;
}