.inputName_wrapper {
    background-color: colors.$primary-background;
    min-height: 160px;
    @extend %common-shadow;
    @extend %common-border;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
   
}

.inputName_user {
    @extend %typography-h5;
    color: colors.$primary-text;
    margin-right: 3rem;
}

.inputName_input {
    @extend %typography-body;
    @extend %common-border;
    @extend %common-shadow;
    padding: 2rem;
    padding-bottom: 1.5rem;
    outline: none;
    border: 2px solid colors.$primary-main;
    background-color: colors.$primary-background;
    color: colors.$primary-text;
    transition: all 0.2s ease-in-out;
    width: 100%;
  
}

.inputName_input:focus {
    transition: all 0.2s ease-in-out;
    @extend %common-shadow-onhover;
}