@import './UserName.scss';
@import './logo.scss';
@import './Rules.scss';
@import './RulesRankingStart.scss';
@import './Leaderboard.scss';
@import './Ranking.scss';
@import './CategoriesButtons.scss';

.mainpage-wrapper {
  text-align: center;
  display: grid;
  max-width: 100vw;
  height: 100vh;
  padding: 5vh 5vw;
  margin-right: auto;
  margin-left: auto;
  grid-template-columns: 1fr 2.5fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas:
    "logo user user"
    "categories categories categories"
    "rules ranking start";
  gap: 5vh 5vw;


  .category-level-paragraph,
  .categories-name {
    @extend %typography-h5;
    color: colors.$primary-text;
    margin-bottom: 20px;
  }

  // KAŻDY BUTTON NA STRONIE
  button {
    height: 90px;
    min-width: 200px;
    background-color: colors.$primary-background;
    color: colors.$primary-text;
    border: 3px solid colors.$primary-background;
    @extend %typography-body;
    margin-bottom: 20px;
  }

  .leaderboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ranking-container {
    justify-self: center;
    align-self: center;
  }

  .category-level-wrapper,
  .leaderboard-container {
    @extend %common-shadow;
    @extend %common-border;
    padding: 20px;
  }


  .category-level-wrapper,
  .leaderboard-container,
  .categories-container {
    grid-area: categories;
    // height: 100%;


    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: colors.$primary-background;


    .category-level-paragraph {
      width: 100%;
    }

    // BUTTON CATEGORIES I LEVEL OF THE OPPONENT
    button {
      @extend %common-border;
      @extend %common-shadow-green-onhover;

    }


    .deactive:hover {
      @extend %common-shadow-green-onhover;
    }

    .active,

    .button-selected {
      @extend %common-border-button-green;
    }

    .deactive {
      @extend %common-shadow-green;
    }

  }

  // BUTTON RULES RANKING START
  .mainpage__button {
    @extend %common-shadow;
    @extend %common-border;
  }
}

@media only screen and (max-width: 800px) {

  .mainpage-wrapper {
    grid-template-columns: 1fr;
    // grid-template-rows: 1fr fr 1fr;
    grid-template-areas:
      "logo"
      "user"
      "categories"
      "ranking"
      "start"
      "rules";
  }

  .inputName_wrapper {
    flex-direction: column;
    padding: 20px;
  }

  .inputName_user {
    width: 100%;
    margin-right: 0;

  }

  .mainpage__button {
    order: 1;
  }

  .logo {
    max-height: 100px;
    width: auto;

  }
}