@use './colors';
@use './common';
@use './typography';
@import './AnswerButton.scss';
@import './deathStar.scss';
@import './PointsCounter.scss';
@import './logo.scss';
@import './AnswerButton.scss';
@import './displayQuestion.scss';
@import './ButtonNext.scss';
@import './QuestionScoreView.scss';
@import './pictureComponent.scss';
@import './Timer.scss';
@import './Leaderboard.scss';
body {
    @extend %background-image;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.quiz-game-wrapper {
    text-align: center;
    display: grid;
    max-width: 100vw;
    height: 100vh;
    padding: 5vh 5vw;
    margin-right: auto;
    margin-left: auto;
    grid-template: 1fr 3fr 1fr / 1fr 3fr 1fr;
    grid-template-areas: 
    "logo question score"
    "picture answers timer"
    "points . next";
    gap: 5vh 5vw; 
}
.answers-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    button {
        font-family: typography.$family-el;
        padding-top: 20px;
        padding-bottom: 10px;
        @extend %common-center;
    }
}
