.mainpage__button:hover {
    @extend %common-shadow-onhover;
}

.mainpage__button {
    @extend %typography-button;
    color: colors.$primary-text;
    background-color: colors.$primary-background;
    width: 20%;
    @extend %common-border-button;
    @extend %common-shadow;
    text-align: center;
} 
