.inputName_wrapper {
    background-color: colors.$primary-background;
    @extend %common-shadow;
    @extend %common-border;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    grid-area: user;
    text-align: center;
    height: 100%;
}

.inputName_user {
    @extend %typography-h5;
    color: colors.$primary-text;
    margin-right: 3rem;
}

.inputName_input {
    @extend %typography-body;
    @extend %common-border;
    @extend %common-shadow;
    display: flex;
    align-items: center;
    padding: 1rem;
    padding-bottom: 0.7rem;
    outline: none;
    border: 2px solid colors.$primary-main;
    background-color: colors.$primary-background;
    color: colors.$primary-text;
    transition: all 0.2s ease-in-out;
    width: 100%;
    margin: 0px 10px;
}



.inputName_input-empty {
    border: 2px solid colors.$secondary-red;
    box-shadow: 0px 0px 20px rgba($color: colors.$secondary-red, $alpha: 0.5)
}

.inputName_input:focus {
    transition: all 0.2s ease-in-out;
    @extend %common-shadow-onhover;
}