.viewScoreDiv {
  text-align: center;
  background-color: colors.$primary-background;
  color: colors.$primary-text;
  width: 100%;
  @extend %typography-h6; 
  @extend %common-shadow;
  @extend %common-border;
  padding:1vh 2vw;
  margin-bottom: 3vh;
  // letter-spacing: 
}

.fontscore{
  @extend %typography-h6; 
  line-height: 0.8;
}

.greenHighlight {
  color: colors.$secondary-green;
  font-weight: 800;
}

.fontHightlight {
  font-size: 2rem;
}
