@font-face {
    font-family: 'AnakinMono';
    src: url('AnakinMono.woff2') format('woff2'),
        url('AnakinMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

