@use '../../../styles/colors';
@use '../../../styles/typography';
@use '../../../styles/common';

.profile-view-container {
    display: flex;
    flex: row wrap;
    background-color: colors.$primary-background;
    @extend %common-border;
}

.profile-view-photo {
    @extend %common-center;
    margin: 20px;
    > img {
        @extend %common-border;
    }
}

.profile-view-description {
    > .description-segment-view-container {
        margin: 10px;
    }
}
